#monitors .monitor {
    min-width: 0px !important;      /*take care of width restriction with a large row of monitors*/
}

.monitorStatus {
    display: none !important;
}

#consoleSvg {
    cursor:  pointer !important;
    transition: all .5s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0s;
}

#consoleSvg:hover {
    scale: 1.08;
}

#consoleSvg > path {
    transition: all .5s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0s;
}

#consoleSvg:hover > path {
    stroke-opacity: .8 !important;
    fill-opacity: .3 !important;
}