body {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    height: auto;
    padding: 10px;
    outline: 2px solid #222;
    outline-offset: 14px;
}

input {
    text-align: center;
}

table {
    width: 100%;
}

td {
    border: 1px solid black;
    padding: 10px;
    align-content: center;
}

.head {
    text-align: center;
    background-color: #eee;
    line-height: 2em;
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: 400;
}

.optionsSlider {
    width: 50%;
    cursor: ew-resize;
}

.colorPicker {
	padding: 0px; 
	border: none;
    margin: 0px;
}

h3.warning {
    margin: 1.2em;
}

.warning {
    background-color: #3474eb;
    padding: 5px;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    text-align: center;
    cursor: not-allowed;
}

button.blueButton {
    border: 2px solid #3474eb;
    padding: 5px;
    text-align: center;
    color: white;
    text-decoration: none;
    display: inline-block;
    background-color: #3474eb;
    font-size: 16px;
    border-radius: 4px;
    transition-duration: .35s;
    cursor: pointer;
    margin: 5px;
}

button.blueButton:hover {
    background-color: white;
    color: #3474eb;
}

.top {
    vertical-align: top;
}