body {
    background: #222;
}

#top {
    background: #485460;
}

.mySlider, .mySmallSlider {
    color: #77A328;
}

input[type='range'] {
    background-color: #222;
}

input[type='range']::-webkit-slider-runnable-track {
    background-color: #485460;
    border: .5px solid black;
}

input[type='range']::-webkit-slider-thumb {
    color: #6c8094;
    background-color: #6c8094;
}

hr {
    color: #e6e600;
    background-color: #e6e600;
    filter: grayscale(85%);
    opacity: .25;
}

h4, h6, label.switch, input {
    color: #9D9D8D;
}

img {
    filter: grayscale(100%);
}

#closeIcon {
	position: absolute;
	top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    z-index: 1;
    cursor: pointer;
}	

#colorPicker, #shadowColor{
    background-color: #222;
    outline: none;
}

/* The slider */
.slider {
    background-color: #485460; 
}

.slider::before {
    background-color: #6c8094;  /*Color of round slider dot*/
}

input:checked + .slider {
    background-color: #8F8FC2;    /*Color of background when slider is checked. */
}

/* input:checked + .slider::before {
    transform: translateX(20px);
} */

.smallSlider {
    background-color: #485460; 
}

.smallSlider::before {
    background-color: #6c8094;  /*Color of round slider dot*/
}

input:checked + .smallSlider {
    background-color: #8F8FC2;    /*Color of background when slider is checked. */
}

/* input:checked + .smallSlider::before {
    transform: translateX(20px);
} */