:root {
    --green: #00b300;

}

body {
	background: var(--green);
}

#top {
    background: var(--green);
}

.mySlider, .mySmallSlider {
    color: #e6e600;
}

input[type='range'] {
    background-color: var(--green);
}

input[type='range']::-webkit-slider-runnable-track {
    background-color: #e6e600;
    border: .5px solid black;
}

input[type='range']::-webkit-slider-thumb {
    color: #40ff00;
    background-color: #40ff00;
}

hr {
    filter: grayscale(0%);
    color: #e6e600;
    background-color: #e6e600;
    opacity: 1;
}

h4, h6, label.switch, input {
    color: #000;
}

img {
    filter: grayscale(0%);
}

#closeIcon {
	position: absolute;
	top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    z-index: 1;
    cursor: pointer;
}	

#colorPicker, #shadowColor{
    outline: none;
    background-color: var(--green);
}

/* The slider background when off*/
.slider {
    background-color: #adad00; 
}

.slider::before {
    background-color: #40ff00;
}

input:checked + .slider {
    background-color: #e6e600;
}
/* 
input:checked + .slider::before {
    transform: translateX(20px);
} */
.smallSlider {
    background-color: #adad00; 
}

.smallSlider::before {
    background-color: #40ff00;
}

input:checked + .smallSlider {
    background-color: #e6e600;
}
/* 
input:checked + .smallSlider::before {
    transform: translateX(20px);
} */