@keyframes pulse{
    0% {
        box-shadow: 0px 0px 5px 0px rgba(173,0,0,.5);
        transform: scale(1);
    }
    65% {
        box-shadow: 0px 0px 5px 25px rgba(173,0,0,.4);
        transform: scale(.6);
    }
    99% {
        box-shadow: 0px 0px 7px 70px rgba(173,0,0,0);
        transform: scale(.1);
    }
}

@font-face {
    font-family: digitalFont;
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Digital7-1e1Z.ttf');
    /* font source: https://www.dafont.com/digital-7.font */
}

#recordDiv {
    font-family: digitalfont;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-size: 70px;
    color: darkred;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: scale(.95);
    width: auto;
    height: auto;
}

#recordDiv:hover {
    transform: scale(1);
}

#recordDiv.child {
    pointer-events: none;
}

button#recordButton {
    width: 70px;
    height: 70px;
    border: none !important; 
    border-radius: 70px;
    margin: 30px;
    box-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#recordDiv.notRecording {
    color: darkred !important;
    opacity: .55;
    transition: 1s;
}

#recordDiv.recording {
    color: red !important;
    opacity: 1;
    transform: scale(1);
}

button#recordButton.notRecording {
    background-color: darkred !important;
    transition: 1s;
}

button#recordButton.recording {
    animation: pulse .6s infinite;
    background-color: red !important;

}

button#recordButton.alerting {
    background-color: yellow !important;
    opacity: .4;
}

#fpsDiv {
    position: fixed;
    width: auto;
    height: auto;
    font-size: large;
}