@keyframes pulse{
    0% {
        box-shadow: 0px 0px 5px 0px rgba(173,0,0,.5);
        transform: scale(1);
    }
    25% {
        box-shadow: 0px 0px 5px 25px rgba(173,0,0,.4);
        transform: scale(.6);
    }
    99% {
        box-shadow: 0px 0px 7px 70px rgba(173,0,0,0);
        transform: scale(.1);
    }
}

@font-face {
    font-family: digitalFont;
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Digital7-1e1Z.ttf');
    /* font source: https://www.dafont.com/digital-7.font */
}

#recordDiv {
    font-family: digitalfont;
    user-select: none; /* Fix for Edge turning the whole screen blue because of a slight click/drag */
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    color: darkred;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: scale(.95);
    opacity: .55;
}

#recordDiv:hover {
    transform: scale(1);
}

#recordDiv.child {
    pointer-events: none;
}

button#recordButton {
    border: none !important;
    outline: none !important;
    margin: 8px;
    background-color: darkred !important;
    box-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#recordDiv.Idle {
    color: darkred !important;
    opacity: .55;
    transition: 1s;
}

#recordDiv.Alert, #recordDiv.Alarm {
    color: red !important;
    opacity: 1;
    transform: scale(1);
}

button#recordButton.Idle {
    background-color: darkred !important;
    transition: 1s;
}

button#recordButton.Alarm {
    animation: pulse .4s infinite;
    background-color: red !important;
}

button#recordButton.Alert {
    animation: pulse .4s infinite;
    background-color: yellow !important;
    opacity: .60;
}

#fpsSpan {
    position: fixed;
}

/*hide scrollbar when zooming*/
::-webkit-scrollbar {
    display: none !important;
}

/*Get rid of 96% width, fix scroll zoom not working on right side of screen*/
#content {
    width: 100% !important;
}